/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply w-full p-2 border rounded;
}
.btn {
  @apply bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700;
}


Custom variable
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: 'Arial', sans-serif;
  --font-mono: 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Styling umum */

